*{
    margin: 0;
    padding: 0;
}

.links{
width: 100vw;
height: 50px;
position: fixed;
display: flex;
}

.links label{
padding: 10px 0;
flex-grow: 1;
cursor: pointer;
transition: all .4s;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 100%;
}

.links label:hover{
background-color: rgba(255,255,255,.2);
}

a{
    color: white;
    padding: 12px;
    text-decoration: none;
}

#home{
    background-color: black;
    width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
    display: flex;
}

#home h1{
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 100px;
    letter-spacing: 1rem;
    text-align: center;
}

#fotos{
    background-color: black;
    width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

#portifolio{
    background-color: black;
    width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

#contato{
    background-color: black;
    width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

i{
    color: white;
    font-size: 10em;
    letter-spacing: 2rem;
    text-align: center;
}

.grade{
    display: flex;
}

@media (max-width: 450px) {
	.grade{
		display: grid;
        grid-template-columns: 100px 100px;
        padding-left: 15px;
    }
    i{
        color: white;
        font-size: 6em;
        letter-spacing: 4rem;
        text-align: center;
    }

    #home h1{
        font-family: 'Bangers', cursive;
        color: white;
        font-size: 60px;
        letter-spacing: 1rem;
        text-align: center;
    }



}